* {
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%; /* 1rem = 9px, 9/16 = 56.25% */
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%; /* 1rem = 8px, 8/16 = 50% */
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    height: 100vh;
}

input,
button,
select,
textarea {
    font: inherit;
    color: inherit;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button:disabled {
    cursor: not-allowed;
}

input,
textarea {
    /* Date inputs has grey background by default in some browsers */
    background-color: white;
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
}

.breadcrumb:not(:last-child) {
    margin-right: 1rem;
}


.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9FBE7;
    color: #1a1a1a;
}

.login-form {
    font-size: 2rem;
    text-align: center;
    padding: 3rem 3rem 2rem;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03), 0 2px 6px rgba(0, 0, 0, 0.03), 0 2px 12px rgba(0, 0, 0, 0.01);
}

.login-form__field {
    margin-bottom: 2rem;
    text-align: left;
}

.login-form__input-container {
    position: relative;
    border-radius: 4px;
    background-color: ghostwhite;
}

.login-form__input {
    height: 2.5em;
    padding: 2rem;
    position: relative;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: #1a1a1a;
}

.input__border {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid grey;
}

.login-form__input:focus ~ .input__border {
    border: 2px solid #217645;
}

.login-form__btn {
    width: 100%;
    background-color: #217645;
    color: white;
    min-width: 6.4em;
    min-height: 2.6em;
    padding: 0 1.1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.0892857143em;
    border-radius: 4px;
}

.login-form__btn:focus {
    border: 2px solid black;
}

.login-form__btn:disabled {
    background-color: #9e9e9e;
    color: black;
}

.toggle-password-visibility-btn {
    margin-right: 1rem;
    vertical-align: middle;
    background-color: transparent;
}

.toggle-password-visibility-btn__icon {
    display: block;
    margin: auto 0;
}

/* Someone wants to know whether password was forgotten? */
.forget-password-link,
.forget-password-link:link,
.forget-password-link:visited {
    color: currentColor;
}

.toggle-ui-mode-btn {
    position: fixed;
    right: 1rem;
    top: 1rem;
    width: 4rem;
}

@media (prefers-color-scheme: dark) {
    .login-page {
        background-color: #06140c;
        color: ghostwhite;
    }

    .login-form__input:focus ~ .input__border {
        border-width: 3px;
    }

    .login-form {
        background-color: #092012;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 2px 12px rgba(0, 0, 0, 0.1), 0 2px 24px rgba(0, 0, 0, 0.1), 0 2px 38px rgba(0, 0, 0, 0.1);
    }
}

html[data-theme='dark'] .login-page {
    background-color: #06140c;
    color: ghostwhite;
}

html[data-theme='dark'] .login-form__input:focus ~ .input__border {
    border-width: 3px;
}

html[data-theme='dark'] .login-form {
    background-color: #092012;
}


html[data-theme='light'] .login-page {
    background-color: #F9FBE7;
    color: #1a1a1a;
}

html[data-theme='light'] .login-form__input:focus ~ .input__border {
    border-width: 2px;
}

html[data-theme='light'] .login-form {
    background-color: white;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mt-1 {
    margin-top: 1rem;
}
